<div class="gap-[30px] mt-[5px] flex">
    <div class="flex gap-[5px] items-center flex-1 w-0 max-w-[80px]">
        <div class="w-[18.75px] h-[18.75px] fill-[#536571]">
            {% include "twitter/icons/replies.svg" %}
        </div>
        <span class="text-[15px] text-[#536571]">
            {{ tweet.reply_count }}
        </span>
    </div>

    <div class="flex gap-[5px] items-center flex-1 w-0 max-w-[80px]">
        <div class="w-[18.75px] h-[18.75px] fill-[#536571]">
            {% include "twitter/icons/retweets.svg" %}
        </div>
        <span class="text-[15px] text-[#536571]">
            {{ tweet.retweet_count }}
        </span>
    </div>

    <div class="flex gap-[5px] items-center flex-1 w-0 max-w-[80px]">
        <div class="w-[18.75px] h-[18.75px] fill-[#536571]">
            {% include "twitter/icons/likes.svg" %}
        </div>
        <span class="text-[15px] text-[#536571]">
            {{ tweet.favorite_count }}
        </span>
    </div>
</div>
